body{
    background: url("../images/background\ image.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-align: center;
}

.btn.btn-info{
    margin: 10px;
}

#submit{
    margin: 10px;
}

.form-group{
    margin-left: 500px;
    clear: both;
}
div{
    float: left;
    margin: 10px;
}
/* #favorites{
    clear: both;
    margin-left: 600px;
    position: fixed;
    border: 5px solid red;
    width: 400px;
    height:400px;
    margin: 20px;
}

.favorite{
    margin: 5px;
} */